<div class="container">
    <p class="h1" style="text-align: justify;"><strong>C&oacute;mo se publica</strong></p>
    <p style="text-align: justify;">Para asegurar la accesibilidad y la preservaci&oacute;n digital a largo plazo,
        recomendamos el uso de formatos abiertos como RTF, TIFF y JPG para los materiales depositados en el repositorio
        digital DSpace | ISTCRE. Si bien, aceptamos los formatos de archivo com&uacute;nmente utilizados como PDF, Word
        y Powerpoint, se recomienda evitar el uso de formatos propietarios como AI, GIF, INDG, etc. Estos documentos
        deben cumplir con al menos unos de los siguientes requisitos:</p>
    <ul style="text-align: justify;">
        <li>Haber pasado un proceso de revisi&oacute;n y validaci&oacute;n de calidad, para garantizar la exactitud y
            fiabilidad de la informaci&oacute;n presentada. Ser editados y publicados en el &aacute;mbito institucional,
            para asegurar la autor&iacute;a y legitimidad de los materiales. Ser generados por autoridades, docentes,
            administrativos y estudiantes y/o investigadores de la instituci&oacute;n o asociados, para mantener la
            coherencia tem&aacute;tica y disciplinaria del repositorio.</li>
        <li>Presentar un valor acad&eacute;mico significativo, para asegurar que los materiales sean &uacute;tiles e
            informativos para nuestros usuarios.</li>
    </ul>
    <p style="text-align: justify;">Al cumplir con estos criterios, los materiales podr&aacute;n incluirse en nuestro
        repositorio y estar&aacute;n disponibles para su acceso y consulta por parte de la comunidad acad&eacute;mica y
        el p&uacute;blico en general.</p>
    <p style="text-align: justify;">En casos excepcionales, DSpace | ISTCRE tambi&eacute;n podr&aacute; incluir
        materiales que, aunque no hayan sido producidos por la instituci&oacute;n, sean considerados de importancia
        singular para la misma. Esto puede incluir, por ejemplo, trabajos acad&eacute;micos o publicaciones de
        inter&eacute;s para nuestra comunidad que hayan sido desarrollados por autores externos, pero que sean
        relevantes para el &aacute;mbito acad&eacute;mico y disciplinario de nuestra instituci&oacute;n. Cada solicitud
        de inclusi&oacute;n de materiales externos ser&aacute; evaluada cuidadosamente para asegurar que cumple con
        nuestros criterios de calidad y relevancia acad&eacute;mica.</p>
    <p style="text-align: justify;">De acuerdo con los argumentos precedentes algunas de las tipolog&iacute;as aceptadas
        son:</p>
    <ol style="text-align: justify;">
        <li><strong>Trabajo de titulaci&oacute;n</strong></li>
    </ol>
    <p style="text-align: justify;">Una vez que el estudiante o los estudiantes hayan cumplido con todos los requisitos
        solicitados por el &aacute;rea de Titulaci&oacute;n, deber&aacute;n entregar su trabajo de titulaci&oacute;n en
        el &aacute;rea de Biblioteca de cualquiera de nuestras sedes o campus.</p>
    <p style="text-align: justify;">Para integrar el trabajo en nuestro acervo f&iacute;sico y digital institucional, se
        deben cumplir los siguientes requisitos.</p>
    <ul style="text-align: justify;">
        <li>El &aacute;rea de biblioteca verificar&aacute; los certificados:</li>
        <li>Certificado de no adeudar a la instituci&oacute;n tanto en: biblioteca, laboratorios, matriculas u
            aranceles.</li>
        <li>Certificado de no tener sanciones pendientes en el &aacute;rea jur&iacute;dica institucional.</li>
        <li>Certificado de haber aprobado la malla en su totalidad.</li>
        <li>Certificado de haber cumplido la totalidad de horas pr&aacute;cticas y de vinculaci&oacute;n.</li>
        <li>Certificado de idioma extranjero, de acuerdo con el t&iacute;tulo a obtener (incluido en el trabajo de
            investigaci&oacute;n).</li>
    </ul>
    <ul style="text-align: justify;">
        <li>Licencia de distribuci&oacute;n no exclusiva digital al correo electr&oacute;nico&nbsp;<a
                href="mailto:biblioteca@cruzrojainstituto.edu.ec">biblioteca@cruzrojainstituto.edu.ec</a>&nbsp;con
            asunto: Licencia de distribuci&oacute;n no exclusiva, n&uacute;mero de cedula, nombre y apellido y
            f&iacute;sica en uno de los campus y sede.</li>
        <li>Documento con respaldos en dispositivos de almacenamiento portable: pendrive, cd o disco duro. El cual
            ser&aacute; entregado con acta de entrega por duplicado al responsable biblioteca de campus o sede</li>
        <li>Documento final f&iacute;sico con los par&aacute;metros establecidos por las instituci&oacute;n y
            certificaci&oacute;n de aceptaci&oacute;n para publicaci&oacute;n digital</li>
        <li>Los que considere pertinentes por el &aacute;rea de biblioteca para la preservaci&oacute;n digital
            institucional.</li>
    </ul>
    <p style="text-align: justify;"><strong>Formato definido para trabajos de titulaci&oacute;n (COLOCAR LINK)</strong>
    </p>
    <ol style="text-align: justify;">
        <li><strong><em>Normativas, reglamentos y resoluciones</em></strong></li>
    </ol>
    <p style="text-align: justify;"><strong>Solicitud de publicaci&oacute;n:</strong>&nbsp;el &aacute;rea responsable o
        involucrada en la normativa, reglamento o resoluci&oacute;n deber&aacute; presentar una solicitud de
        publicaci&oacute;n en el repositorio digital a trav&eacute;s de medios oficiales a las autoridades
        institucionales correspondientes. La solicitud deber&aacute; incluir el documento de la normativa o reglamento
        en formato digital y una breve descripci&oacute;n del contenido.</p>
    <p style="text-align: justify;"><strong>Revisi&oacute;n y aprobaci&oacute;n:</strong>&nbsp;la autoridad
        correspondiente notificar&aacute; al encargado o encargados del repositorio digital la publicaci&oacute;n con
        uno de los siguientes criterios de tipo de acceso seg&uacute;n normativa del repositorio digital:&nbsp;&nbsp;
        abierto, Cerrado, Restringido, Embargado.</p>
    <p style="text-align: justify;"><strong>Publicaci&oacute;n en el repositorio digital:</strong>&nbsp;una vez
        autorizada la publicaci&oacute;n, el encargado de la gesti&oacute;n del repositorio digital publicar&aacute; el
        documento en el repositorio digital. La publicaci&oacute;n incluir&aacute; metadatos que permitan la
        identificaci&oacute;n, descripci&oacute;n y recuperaci&oacute;n de la normativa o reglamento.</p>
    <p style="text-align: justify;"><strong>Requisitos para la publicaci&oacute;n</strong>:</p>
    <ul style="text-align: justify;">
        <li>Ser elaboradas por una de las direcciones institucionales</li>
        <li>Ser aprobadas por las autoridades institucionales pertinentes.</li>
        <li>Estar en formato digital y en un formato editable.</li>
        <li>Contener los metadatos m&iacute;nimos requeridos para su identificaci&oacute;n, descripci&oacute;n y
            recuperaci&oacute;n.</li>
    </ul>
    <p style="text-align: justify;"><strong>Vigencia y actualizaci&oacute;n:&nbsp;</strong>&nbsp;normativas, reglamentos
        y resoluciones publicados en el repositorio digital tendr&aacute;n una vigencia indefinida, salvo que sean
        derogados o modificados. En caso de que se realice alguna modificaci&oacute;n, se deber&aacute; actualizar la
        normativa o reglamento en el repositorio digital.</p>
    <ol style="text-align: justify;">
        <li><strong>Protocolos, instructivos, planes, gu&iacute;as y manuales</strong></li>
    </ol>
    <p style="text-align: justify;"><strong>Solicitud de publicaci&oacute;n:</strong>&nbsp;El &aacute;rea responsable o
        involucrada en creaci&oacute;n de Protocolos, instructivos, planes, gu&iacute;as y manuales, generar&aacute; una
        solicitud a la autoridad correspondiente para la publicaci&oacute;n de la documentaci&oacute;n en el repositorio
        digital. La solicitud deber&aacute; incluir el documento de la normativa o reglamento en formato digital y una
        breve descripci&oacute;n del contenido<strong>.</strong></p>
    <p style="text-align: justify;"><strong>Revisi&oacute;n y aprobaci&oacute;n:</strong>&nbsp;la autoridad
        correspondiente notificar&aacute; al encargado o encargados del repositorio digital la publicaci&oacute;n con
        uno de los siguientes criterios de tipo de acceso seg&uacute;n normativa del repositorio digital:&nbsp;&nbsp;
        abierto, Cerrado, Restringido, Embargado.</p>
    <p style="text-align: justify;"><strong>Publicaci&oacute;n en el repositorio digital:</strong>&nbsp;una vez
        autorizada la publicaci&oacute;n, el encargado de la gesti&oacute;n del repositorio digital publicar&aacute; el
        documento en el repositorio digital. La publicaci&oacute;n incluir&aacute; metadatos que permitan la
        identificaci&oacute;n, descripci&oacute;n y recuperaci&oacute;n de la normativa o reglamento.</p>
    <p style="text-align: justify;"><strong>Requisitos para la publicaci&oacute;n</strong>:</p>
    <ul style="text-align: justify;">
        <li>Todos los protocolos, instructivos, planes, gu&iacute;as y manuales deben tener una fecha aprobaci&oacute;n
        </li>
        <li>Cada protocolo, instructivo, plan, gu&iacute;a o manual debe ser revisado y actualizado para procesos que
            permitan garantizar su vigencia.</li>
        <li>El &aacute;rea responsable de protocolo, instructivo, plan, gu&iacute;a o manual debe ser&aacute; el
            responsable de coordinar la revisi&oacute;n y actualizaci&oacute;n de su contenido y la autorizaci&oacute;n
            del mismo.</li>
        <li>Una vez aprobada la actualizaci&oacute;n, se publicar&aacute; la nueva versi&oacute;n del manual en el
            repositorio digital institucional y se notificar&aacute; a los usuarios relevantes sobre la
            actualizaci&oacute;n y las modificaciones realizadas.</li>
    </ul>
    <p style="text-align: justify;"><strong>Vigencia y actualizaci&oacute;n:&nbsp;</strong>&nbsp;la publicaci&oacute;n
        de los documentos en el repositorio digital tendr&aacute; una vigencia indefinida, salvo que sean modificados.
        En caso de que se realice alguna modificaci&oacute;n, se deber&aacute; actualizar el documento en repositorio
        digital.</p>
    <ol style="text-align: justify;">
        <li><strong>Convenios institucionales e interinstitucionales nacionales e internacionales.</strong></li>
    </ol>
    <p style="text-align: justify;">La publicaci&oacute;n del contenido de los convenios ser&aacute; responsabilidad
        exclusiva de las autoridades institucionales, quienes determinar&aacute;n la necesidad y llevar&aacute;n a cabo
        el proceso correspondiente, siguiendo los protocolos y procedimientos establecidos para garantizar su adecuada
        difusi&oacute;n y transparencia</p>
</div>