<div class="container">
    <p class="h1" style="text-align: justify;"><strong>LINEAMIENTOS DE REPOSITORIO DIGITAL</strong></p>
    <p style="text-align: justify;"><strong>Conceptos b&aacute;sicos</strong></p>
    <p style="text-align: justify;"><strong>Repositorio Institucional: </strong>plataforma digital que se crea con el
        prop&oacute;sito de almacenar, preservar, organizar y difundir los resultados de la actividad acad&eacute;mica e
        investigadora de la comunidad universitaria en formato digital.</p>
    
    <p style="text-align: justify;"><strong>Identificador &Uacute;nico de Autor: </strong>es el c&oacute;digo
        alfanum&eacute;rico que identifica con car&aacute;cter inequ&iacute;voco al personal docente, estudiantil,
        administrativo e investigador de la instituci&oacute;n a efectos de la autor&iacute;a de los trabajos de
        investigaci&oacute;n.&nbsp; Se usar&aacute;n como identificador &uacute;nico de autor, el c&oacute;digo</p>
    <p style="text-align: justify;">ORCID (<a href="http://www.orcid.org" target="_blank">www.orcid.org</a>).</p>
    
    <p style="text-align: justify;">El Repositorio admite distintos <strong>tipos de acceso </strong>o visibilidad de
        los contenidos, como son:</p>
    
    <ul style="text-align: justify;">
        <li><strong>Abierto</strong>: contenido visible por todo usuario de internet. Su uso puede estar sujeto a
            distintas limitaciones seg&uacute;n la licencia Creative Commons (ver abajo) con la que se</li>
        <li><strong>Cerrado</strong>: contenido visible s&oacute;lo para el personal espec&iacute;fico del ISTCRE</li>
        <li><strong>Restringido:</strong> contenido en principio cerrado, pero que puede ponerse a disposici&oacute;n
            del p&uacute;blico bajo ciertas condiciones y siempre bajo petici&oacute;n.</li>
        <li><strong>Embargado</strong>: contenido cerrado que pasa autom&aacute;ticamente a ser abierto una vez
            transcurrido un per&iacute;odo de tiempo determinado.</li>
    </ul>
    
    <p style="text-align: justify;"><strong>Metadatos</strong>: datos necesarios para el registro bibliogr&aacute;fico o
        de otro tipo de los documentos, y que no incluyen el contenido del documento asociado.</p>
    
    <p style="text-align: justify;"><strong>Pre-print</strong>: versi&oacute;n de un documento previa a la
        revisi&oacute;n por pares o a la evaluaci&oacute;n institucional.</p>
    
    <p style="text-align: justify;"><strong>Versi&oacute;n final o Post-print</strong>: documento revisado y aceptado
        para su publicaci&oacute;n antes de adaptarlo al formato final.</p>
    
    <p style="text-align: justify;"><strong>Propiedad Intelectual:</strong> instrumento jur&iacute;dico de
        protecci&oacute;n de los autores de creaciones intelectuales y/o de innovaciones tecnol&oacute;gicas, ideado
        para incentivar adecuadamente su actividad, conjug&aacute;ndola con los intereses generales de acceso a la
        cultura y desarrollo econ&oacute;mico.</p>
    <p style="text-align: justify;">Absorbe tanto la protecci&oacute;n de las creaciones intelectuales a trav&eacute;s
        de los <strong>Derechos de Autor</strong>, as&iacute; como, las innovaciones tecnol&oacute;gicas, mediante la
        <strong>Propiedad Industrial</strong>.</p>
    
    <p style="text-align: justify;">Son <strong>obras susceptibles de protecci&oacute;n </strong>por el <strong>Derecho
            de Autor</strong> las creaciones intelectuales novedosas, independientemente de su soporte y al margen de su
        registro.</p>
    
    <p style="text-align: justify;">&nbsp;Son susceptibles de <strong>Propiedad Industrial</strong> las innovaciones
        tecnol&oacute;gicas, que requieren ser registradas (como patente, modelo de utilidad o dise&ntilde;o
        industrial), para asegurar un derecho de explotaci&oacute;n exclusiva.</p>
    
    <p style="text-align: justify;"><strong>Autor: </strong>persona f&iacute;sica que, individualmente o con otros, crea
        la obra susceptible de protecci&oacute;n. Al autor le corresponde el <strong>derecho moral </strong>a que se le
        reconozca como tal (<strong>autor&iacute;a</strong>) y a decidir la <strong>divulgaci&oacute;n </strong>de la
        obra.</p>
    
    <p style="text-align: justify;">Los <strong>derechos patrimoniales de explotaci&oacute;n </strong>de las obras
        pueden corresponderle al autor o a quien directa o indirectamente financia su producci&oacute;n. Son
        susceptibles de cesi&oacute;n, gratuita u onerosa, exclusiva o compartida, mediante <strong>licencias</strong>.
    </p>
    
    <p style="text-align: justify;"><strong>Licencia Creative Commons (CC)</strong>: sistema de estandarizaci&oacute;n
        de derechos de autor creado y gestionado por la organizaci&oacute;n sin &aacute;nimo de lucro Creative Commons.
        El sistema est&aacute; compuesto por cuatro tipos de condiciones que pueden combinarse entre s&iacute;:
        <strong>Atribuci&oacute;n (BY)</strong> que requiere la referencia al autor original; <strong>Compartir como
            igual (SA) </strong>que permite obras derivadas bajo la misma licencia o similar; <strong>No Comercial (NC)
        </strong>que obliga a que la obra no sea utilizada con fines comerciales; y <strong>No Derivadas (ND)</strong>
        que no permite modificar de forma alguna la obra. Todas las licencias CC permiten el derecho fundamental de
        redistribuir la obra con fines no comerciales y sin modificaciones.</p>
    
    <p style="text-align: justify;"><strong>POL&Iacute;TICAS DE ACCESO</strong></p>
    <p style="text-align: justify;"><strong>DSpace | ISTCRE</strong> es el repositorio digital oficial del Instituto
        Superior Tecnol&oacute;gico Cruz Roja Ecuatoriana (ISTCRE), implementado en el a&ntilde;o 2023 como un portal
        centralizado de acceso que recopila y difunde toda la producci&oacute;n digital generada en el &aacute;mbito
        acad&eacute;mico y administrativo institucional. Su objetivo es visibilizar las creaciones acad&eacute;micas a
        trav&eacute;s de su acceso y preservaci&oacute;n a largo plazo, para incrementar el impacto en la comunidad.
        DSpace | ISTCRE est&aacute; adherido a la Iniciativa de Acceso Abierto, la cual, promueve el principio de la
        libre disposici&oacute;n de la informaci&oacute;n.</p>
    <p style="text-align: justify;">Nuestras pol&iacute;ticas de acceso est&aacute;n dise&ntilde;adas para garantizar el
        acceso libre y equitativo a nuestros recursos digitales, sin discriminaci&oacute;n de ning&uacute;n tipo. Estas
        pol&iacute;ticas se someten regularmente a revisi&oacute;n para garantizar su relevancia y efectividad. Al
        utilizar nuestro repositorio, los usuarios aceptan los t&eacute;rminos y condiciones establecidos en nuestras
        pol&iacute;ticas de acceso.</p>
    <p style="text-align: justify;">En <strong>DSpace | ISTCRE</strong> nos comprometemos a preservar y proteger los
        derechos de autor y propiedad intelectual de nuestros usuarios y autores, respetando las leyes y regulaciones
        nacionales e internacionales aplicables. Tambi&eacute;n, fomentamos el uso responsable de nuestros recursos
        digitales y la atribuci&oacute;n adecuada a sus autores y fuentes.</p>
    <p style="text-align: justify;">A continuaci&oacute;n, se exponen las pol&iacute;ticas del repositorio, las cuales,
        son sometidas regularmente a revisi&oacute;n:</p>
    <ul style="text-align: justify;">
        <li>Pol&iacute;tica de contenidos</li>
        <li>Pol&iacute;tica de acceso a datos</li>
        <li>Pol&iacute;tica de dep&oacute;sito</li>
        <li>Pol&iacute;tica de preservaci&oacute;n</li>
        <li>Pol&iacute;tica de Metadatos</li>
        <li>Pol&iacute;tica de Servicios</li>
    </ul>
    <p style="text-align: justify;"><strong>Pol&iacute;tica de contenidos</strong></p>
    <p style="text-align: justify;">DSpace | ISTCRE recibe la producci&oacute;n de todo el Instituto Superior
        Tecnol&oacute;gico Cruz Roja Ecuatoriana - ISTCRE, en sus actividades acad&eacute;micas y administrativas sin
        fines de lucro.</p>
    <p style="text-align: justify;">Para que los materiales se incorporen en el repositorio, deben cumplir con al menos
        uno de los siguientes requisitos:</p>
    <ul style="text-align: justify;">
        <li>Haber pasado un proceso de revisi&oacute;n y validaci&oacute;n de calidad, para garantizar la exactitud y
            fiabilidad de la informaci&oacute;n presentada. Ser editados y publicados en el &aacute;mbito institucional,
            para asegurar la autor&iacute;a y legitimidad de los materiales. Ser generados por autoridades, docentes,
            administrativos y estudiantes y/o investigadores de la instituci&oacute;n o asociados, para mantener la
            coherencia tem&aacute;tica y disciplinaria del repositorio.</li>
        <li>Presentar un valor acad&eacute;mico y administrativo significativo, para asegurar que los materiales sean
            &uacute;tiles e informativos para nuestros usuarios.</li>
    </ul>
    <p style="text-align: justify;">Al cumplir con estos criterios, los materiales podr&aacute;n incluirse en nuestro
        repositorio y estar&aacute;n disponibles para su acceso y consulta por parte de la comunidad ISTCRE y el
        p&uacute;blico en general.</p>
    <p style="text-align: justify;">En casos excepcionales, DSpace | ISTCRE tambi&eacute;n podr&aacute; incluir
        materiales que, aunque no hayan sido producidos por la instituci&oacute;n, sean considerados de importancia
        singular para la misma. Esto puede incluir, por ejemplo, trabajos acad&eacute;micos o publicaciones de
        inter&eacute;s para nuestra comunidad que hayan sido desarrollados por autores externos, pero que sean
        relevantes para el &aacute;mbito acad&eacute;mico y disciplinario de nuestra instituci&oacute;n. Cada solicitud
        de inclusi&oacute;n de materiales externos ser&aacute; evaluada cuidadosamente para asegurar que cumple con
        nuestros criterios de calidad y relevancia acad&eacute;mica.</p>
    <p style="text-align: justify;">De acuerdo con los argumentos precedentes algunas de las tipolog&iacute;as aceptadas
        son:</p>
    <p style="text-align: justify;"><strong>Trabajo de Titulaci&oacute;n: </strong>es aquel que implica un proceso de
        investigaci&oacute;n-acci&oacute;n, para lo cual, el estudiante ejecutar&aacute; sus capacidades para la
        indagaci&oacute;n, exploraci&oacute;n, distinci&oacute;n, organizaci&oacute;n, enfocados en la resoluci&oacute;n
        de los problemas espec&iacute;ficos de su profesi&oacute;n, que han sido seleccionados para el estudio e
        intervenci&oacute;n, a trav&eacute;s de las distintas opciones establecidas por la instituci&oacute;n.</p>
    
    <ol style="text-align: justify;">
        <li><strong>Trabajo de titulaci&oacute;n </strong></li>
    </ol>
    <ul style="text-align: justify;">
        <li><strong><em>Proyectos de investigaci&oacute;n </em></strong></li>
    </ul>
    <p style="text-align: justify;">Es una propuesta metodol&oacute;gica que pretende encontrar o explorar en la
        existencia de un problema que el estudiante investigador se ha planteado. Se pueden utilizar cualquiera de los
        m&eacute;todos y tipos de investigaci&oacute;n existentes, que apliquen a una de las l&iacute;neas de
        investigaci&oacute;n propuestas por la instituci&oacute;n.</p>
    <ul style="text-align: justify;">
        <li><strong><em>Proyectos integradores </em></strong></li>
    </ul>
    <p style="text-align: justify;">Es un proyecto de intervenci&oacute;n, y se enfocar&aacute; en la atenci&oacute;n
        sobre el apoyo a dar soluci&oacute;n a un problema en una comunidad, con fines m&aacute;s directos e inmediatos.
        La intervenci&oacute;n consiste en generar planes, programas, proyectos y actividades para ser apoyo en la
        soluci&oacute;n de los problemas determinados por la comunidad de investigaci&oacute;n en contextos
        espec&iacute;ficos y factibles de realizar.</p>
    <ul style="text-align: justify;">
        <li><strong><em>Sistematizaci&oacute;n de experiencias pr&aacute;cticas de investigaci&oacute;n y/o
                    intervenci&oacute;n</em></strong></li>
    </ul>
    <p style="text-align: justify;">Es la planificaci&oacute;n ordenada y sistem&aacute;tica de todo el proceso que ha
        de llevarse a cabo en los servicios de ambulancia que se gestionen para operar como apoyo a profesionales de la
        salud prehospitalaria, a cambio de tutor&iacute;a de capacitaci&oacute;n, entre otros, con una entrega final de
        informe de actividades. El proyecto se denomina, Servicio de Emergencias Prehospitalarias Provincial SEPP.</p>
    
    <ol style="text-align: justify;">
        <li><strong><em>Normativas, reglamentos y resoluciones </em></strong></li>
    </ol>
    <p style="text-align: justify;"><strong>Normativas</strong>: conjunto de reglas que regulan el comportamiento de la
        sociedad dentro de un &aacute;mbito espec&iacute;fico. Las normativas pueden establecerse por el gobierno o por
        organizaciones privadas y tienen fuerza vinculante para aquellos a quienes se aplican.</p>
    <p style="text-align: justify;"><strong>Reglamentos:</strong> pautas que establecen procedimientos
        espec&iacute;ficos para la aplicaci&oacute;n de una ley, normativa o resoluci&oacute;n en particular. Los
        reglamentos son emitidos por una autoridad competente y tienen como finalidad aclarar o complementar lo que
        establece una normativa.</p>
    <p style="text-align: justify;"><strong>Resoluciones:</strong> decisiones que toma una organizaci&oacute;n, entidad
        o instituci&oacute;n con el objetivo de resolver un asunto en particular. Las resoluciones pueden emitirse por
        una autoridad competente.</p>
    
    <ol style="text-align: justify;">
        <li><strong>Protocolos, Instructivos, planes, gu&iacute;as y manuales</strong></li>
    </ol>
    <p style="text-align: justify;">Los protocolos, instructivos, planes, gu&iacute;as y manuales son documentos que
        sirven como herramientas de gesti&oacute;n para orientar y guiar a los miembros institucionales y externos en la
        realizaci&oacute;n de diferentes actividades. Aunque son documentos diferentes, tienen algunas
        caracter&iacute;sticas comunes:</p>
    <p style="text-align: justify;"><strong>Protocolos:</strong> documentos que establecen reglas y procedimientos para
        ejecutar una actividad espec&iacute;fica. Los protocolos suelen ser utilizados en situaciones de emergencia o en
        actividades que implican un riesgo para la seguridad de las personas.</p>
    <p style="text-align: justify;"><strong>Instructivos:</strong> documentos que detallan los pasos dentro de un
        proceso o actividad. Los instructivos son utilizados para proporcionar informaci&oacute;n clara y detallada
        sobre c&oacute;mo realizar una tarea espec&iacute;fica.</p>
    <p style="text-align: justify;"><strong>Planes:</strong> documentos que establecen los objetivos, estrategias y
        acciones a seguir para alcanzar un determinado resultado a trav&eacute;s de la coordinaci&oacute;n de acciones
        de un equipo.</p>
    <p style="text-align: justify;"><strong>Gu&iacute;as:</strong> documentos que proporcionan informaci&oacute;n
        general y orientaci&oacute;n sobre un tema espec&iacute;fico.</p>
    <p style="text-align: justify;"><strong>Manuales:</strong> documentos que proporcionan informaci&oacute;n detallada
        y exhaustiva sobre un tema espec&iacute;fico y pueden contener informaci&oacute;n t&eacute;cnica o
        administrativa.</p>
    
    <ol style="text-align: justify;">
        <li><strong>Convenios institucionales e interinstitucionales nacionales e internacionales. </strong></li>
    </ol>
    
    <p style="text-align: justify;">La publicaci&oacute;n del contenido de los convenios ser&aacute; responsabilidad
        exclusiva de las autoridades institucionales, quienes determinar&aacute;n la necesidad y llevar&aacute;n a cabo
        el proceso correspondiente, siguiendo los protocolos y procedimientos establecidos para garantizar su adecuada
        difusi&oacute;n y transparencia</p>
    
    <p style="text-align: justify;">Se aceptar&aacute;n materiales en cualquier idioma, aunque se recomienda que
        est&eacute;n en espa&ntilde;ol o ingl&eacute;s para garantizar su accesibilidad a la mayor&iacute;a de nuestros
        usuarios. Si se depositan materiales en otros idiomas, se recomienda incluir un resumen o una traducci&oacute;n
        al espa&ntilde;ol o al ingl&eacute;s para facilitar su comprensi&oacute;n y uso por parte de la comunidad
        acad&eacute;mica.</p>
    <p style="text-align: justify;">Para asegurar la accesibilidad y la preservaci&oacute;n digital a largo plazo,
        recomendamos el uso de formatos abiertos como RTF, TIFF y JPG para los materiales depositados en el repositorio
        digital DSpace | ISTCRE. Si bien, aceptamos los formatos de archivo com&uacute;nmente utilizados como PDF, Word
        y Powerpoint, se recomienda evitar el uso de formatos propietarios como AI, GIF, INDG, etc.</p>
    <p style="text-align: justify;">Los formatos abiertos garantizan la interoperabilidad y la compatibilidad con
        diferentes plataformas y sistemas, lo que facilita el acceso y la reutilizaci&oacute;n de los materiales por
        parte de nuestra comunidad acad&eacute;mica y el p&uacute;blico en general.</p>
    <p style="text-align: justify;"><strong>Pol&iacute;tica de acceso a los datos</strong></p>
    <p style="text-align: justify;">Las obras alojadas en el repositorio pueden visualizarse y descargarse de forma
        libre y gratuita, sin necesidad de registro o autorizaci&oacute;n previa, siempre respetando las condiciones
        expuestas en las licencias de uso adosadas a las mismas.</p>
    <p style="text-align: justify;">Los autores o titulares de la propiedad intelectual de cada obra aceptan en el
        momento de dep&oacute;sito una <strong>licencia de distribuci&oacute;n NO EXCLUSIVA </strong><strong>,</strong> que habilita al repositorio a cumplir
        con su tarea de preservaci&oacute;n y dispone una licencia de uso sobre cada obra que explicita al
        p&uacute;blico los usos permitidos.</p>
    <p style="text-align: justify;"><strong>Pol&iacute;tica de dep&oacute;sito</strong></p>
    <p style="text-align: justify;"><strong>El repositorio</strong> se sustenta en un modelo distribuido de trabajo
        mediante el cual pueden existir diferentes v&iacute;as de dep&oacute;sito:</p>
    <ul style="text-align: justify;">
        <li><strong>Autoarchivo:</strong> un autor registrado en el repositorio carga su obra a partir de una serie de
            pasos que incluyen la descripci&oacute;n (tipolog&iacute;a, t&iacute;tulo, etc), adjunta los archivos,
            selecciona la Licencia de uso Creative Commons y confirma los datos.</li>
        <li><strong>Dep&oacute;sito delegado:</strong> el autor presenta personalmente su obra en la Sede o Campus
            asignado</li>
        <li>En algunos casos <strong>la instituci&oacute;n puede asignar un permiso especial a un representante
            </strong>que asume el compromiso de carga de los materiales de ese centro seg&uacute;n normas
            institucionales.</li>
    </ul>
    <p style="text-align: justify;">Los trabajos pueden depositarse en cualquier momento y hacerse p&uacute;blicos de
        manera inmediata, una vez cumplidos los procesos administrativos y acad&eacute;micos institucionales
        obligatorios.</p>
    <p style="text-align: justify;">Los autores afirman ser los titulares de los derechos patrimoniales de las obras
        depositadas y, por tanto, asumen toda responsabilidad ante infracciones de la ley de propiedad intelectual. El
        repositorio se compromete a quitar una obra de circulaci&oacute;n, ante una demanda de violaci&oacute;n de
        derechos de propiedad intelectual. De ser necesario el autor puede subir una versi&oacute;n actualizada de una
        obra propia para usar como reemplazo o complemento de la previamente depositada.</p>
    <p style="text-align: justify;"><strong>Pol&iacute;tica de preservaci&oacute;n digital</strong></p>
    <p style="text-align: justify;">El prop&oacute;sito fundamental del repositorio DSpace | ISTCRE es asegurar la
        accesibilidad, legibilidad y preservaci&oacute;n digital a tiempo indefinido de todas las obras que alberga.
        Para cumplir con esta misi&oacute;n, el autor le concede al repositorio en la licencia de dep&oacute;sito que se
        trata de un permiso expreso para transformar la obra.</p>
    <p style="text-align: justify;">Dentro de las tareas regulares que se cumplen en el repositorio se pueden mencionar:
    </p>
    <ul style="text-align: justify;">
        <li>Backups peri&oacute;dicos en servidores externos</li>
        <li>Vigilancia y conversi&oacute;n de formatos de archivo</li>
        <li>Actualizaci&oacute;n del software que sustenta al repositorio.</li>
        <li>Comprobaciones peri&oacute;dicas de la integridad de los archivos para asegurar que la obra no ha sufrido
            alteraciones.</li>
        <li>Comprobaciones peri&oacute;dicas de la accesibilidad de la obra (verificaci&oacute;n de privacidad de obras
            embargadas).</li>
    </ul>
    <p style="text-align: justify;">Las obras pueden ser removidas a solicitud del autor o titular de los derechos
        patrimoniales si se esgrimen algunos argumentos como los siguientes:</p>
    <ul style="text-align: justify;">
        <li>Incumplimiento de las reglas y normativas editoriales institucionales.</li>
        <li>Violaci&oacute;n comprobada del derecho patrimonial.</li>
        <li>Requerimientos legales y violaciones probadas.</li>
        <li>Seguridad nacional.</li>
        <li>Investigaci&oacute;n falsificada.</li>
    </ul>
    <p style="text-align: justify;">Los &iacute;tems retirados no son removidos del repositorio, pero s&iacute; de la
        vista p&uacute;blica.</p>
    <p style="text-align: justify;"><strong>Pol&iacute;tica de metadatos</strong></p>
    <p style="text-align: justify;">Los metadatos son la informaci&oacute;n descriptiva que se aplica sobre un recurso
        para facilitar su organizaci&oacute;n, recuperaci&oacute;n, preservaci&oacute;n e interoperabilidad. Para
        catalogar una obra, el repositorio utiliza un perfil de aplicaci&oacute;n dependiente de la tipolog&iacute;a
        documental. Dicho perfil se compone a partir de otros formatos como: DC extendido, ETD, MODS, entre otros.</p>
    <p style="text-align: justify;">Todos los registros de metadatos de las obras depositadas en el repositorio son
        diseminados a partir de protocolos de interoperabilidad bajo formato <a
            href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/" target="_blank"><strong>Dublin Core</strong></a> y
        similares. El acceso a estos metadatos es libre y gratuito, y se fomenta su re&uacute;so en cualquier medio sin
        permisos previos, bajo la condici&oacute;n de mantener el identificador/enlace persistente (Handle) al registro
        original de metadatos disponible en el portal http://repositorio.istcre.edu.ec</p>
    <p style="text-align: justify;"><strong>Pol&iacute;tica de servicios</strong></p>
    <p style="text-align: justify;"><strong>Servicios para usuarios:</strong></p>
    <ul style="text-align: justify;">
        <li>Acceso p&uacute;blico a contenidos desde el portal, documentos destacados y listado de &uacute;ltimos
            recursos agregados, a partir de b&uacute;squeda y navegaci&oacute;n.</li>
        <li>Difusi&oacute;n de novedades en redes sociales: Facebook, Twitter, blog.</li>
        <li>Exposici&oacute;n de procedimientos internos a partir de recursos disponibles en el repositorio y de
            p&aacute;ginas complementarias: instructivos, manuales, preguntas frecuentes, ayuda, entre otros.</li>
        <li>Soporte a usuarios a partir de v&iacute;as tradicionales como email y foros.</li>
    </ul>
    
    <p style="text-align: justify;"><strong>Servicios para autores:</strong></p>
    <ul style="text-align: justify;">
        <li>Asesor&iacute;a en cuestiones de pol&iacute;ticas de archivo y autoarchivo de la plataforma.</li>
        <li>Asesor&iacute;a en normas editoriales.</li>
        <li>Asesor&iacute;a en procesos de publicaci&oacute;n &nbsp;institucionales.</li>
    </ul>
    
</div>