<div class="community-grid">
  <div class=" container p-4" style="margin-top: 13%;">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/37">Estatutos, Reglamentos y Normativas</a>
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/43">Emergencias Médicas</a>
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/44">Gestión de Riesgos y Desastres</a>
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/45">Bioseguridad Hospitalaria y Prehospitalaria</a>
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/46">Administración de Sistemas de Salud</a>
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/47">Seguridad y prevención de Riesgos Laborales</a>
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/17">Documentos administrativos</a>
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/38">Vinculacion con la Comunidad</a>
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/39">Investigación Académica</a>
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/84">Humanidades</a>
            <a class="list-group-item list-group-item-action" href="http://repositorio.istcre.edu.ec/handle/123456789/40">Informes</a>
          </div>
      </div>

      <!--Grid column-->
      <div class="col-lg-8 col-md-6 mb-4 mb-lg-0">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3" style="margin-top: 10%;">
              <a class="content_img" href="http://repositorio.istcre.edu.ec/browse/author"><img style="max-width: 100%; height: auto;" src="assets/images/Autores_dpace_istcre.png" />
                <div class="text-dark text-center">Ordenar por autores</div>
              </a>
            </div>
            <div class="col-sm-6 col-lg-3" style="margin-top: 10%;">
              <a class="content_img" href="http://repositorio.istcre.edu.ec/browse/title"><img style="max-width: 100%; height: auto;" src="assets/images/Titulos_dspace_istcre.png" />
                <div class="text-dark text-center">Ordenar por titulo</div>
              </a>
            </div>
            <div class="col-sm-6 col-lg-3" style="margin-top: 10%;">
              <a class="content_img" href="http://repositorio.istcre.edu.ec/browse/dateissued"><img style="max-width: 100%; height: auto;" src="assets/images/Fechas_dpace_istcre.png" />
                <div class="text-dark text-center">Ordenar por fecha</div>
              </a>     
            </div>
            <div class="col-sm-6 col-lg-3" style="margin-top: 10%;">
              <a class="content_img" href="http://biblioteca.istcre.edu.ec" target="_blank"><img style="max-width: 100%; height: auto;" src="assets/images/Biblioteca_virtual_dspace_istcre.png" />
                <div class="text-dark text-center">Biblioteca Virtual</div>
              </a>     
            </div>
          </div>
        </div>
      </div>
        <!-- <p style="text-align: center;" id="istcre-images">
          <a class="content_img" href="http://repositorio.istcre.edu.ec/browse/author"><img style="max-width: 25%; height: auto;" src="assets/images/Autores_dpace_istcre.png" />
            <div>Ordenar por autores</div>
          </a>
          <a class="content_img" href="http://repositorio.istcre.edu.ec/browse/title"><img style="max-width: 25%; height: auto;" src="assets/images/Titulos_dspace_istcre.png" />
            <div>Ordenar por titulo</div>
          </a>
          <a class="content_img" href="http://repositorio.istcre.edu.ec/browse/dateissued"><img style="max-width: 25%; height: auto;" src="assets/images/Fechas_dpace_istcre.png" />
            <div>Ordenar por fecha</div>
          </a>
          <a class="content_img" href="http://biblioteca.istcre.edu.ec" target="_blank"><img style="max-width: 25%; height: auto;" src="assets/images/Biblioteca_virtual_dspace_istcre.png" />
            <div>Biblioteca Virtual</div>
          </a>
        </p> -->
      
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</div>