<div class="container">
    <p class="h1" style="text-align: justify;"><strong>Qu&eacute; se publica</strong></p>
    <p style="text-align: justify;">DSpace | ISTCRE es un sistema de informaci&oacute;n de c&oacute;digo abierto con
        arquitectura de repositorio digital que captura, almacena, ordena, preserva y distribuye material de
        investigaci&oacute;n digital. El prop&oacute;sito del Instituto Superior Tecnol&oacute;gico Cruz Roja
        Ecuatoriana (ISTCRE) es, precisamente, preservar y distribuir las producciones intelectuales generadas por su
        comunidad educativa, para as&iacute;, fortalecer la capacidad investigativa de las Instituciones de
        Educaci&oacute;n Superior (IES).</p>
    <p style="text-align: justify;">DSpace | ISTCRE es un repositorio que almacena material que ha sido objeto de
        evaluaci&oacute;n acad&eacute;mica o administrativa, dividi&eacute;ndose de la siguiente manera:</p>
    <p style="text-align: justify;"><strong>Trabajo de Titulaci&oacute;n:&nbsp;</strong>es aquel que implica un proceso
        de investigaci&oacute;n-acci&oacute;n, para lo cual, el estudiante ejecutar&aacute; sus capacidades para la
        indagaci&oacute;n, exploraci&oacute;n, distinci&oacute;n, organizaci&oacute;n, enfocado en la resoluci&oacute;n
        de los problemas espec&iacute;ficos de su profesi&oacute;n, previamente seleccionados para el estudio e
        intervenci&oacute;n, a trav&eacute;s de las distintas opciones establecidas por la instituci&oacute;n.</p>
    <ol style="text-align: justify;">
        <li><strong>Trabajo de titulaci&oacute;n</strong></li>
    </ol>
    <ul style="text-align: justify;">
        <li><strong><em>Proyectos de investigaci&oacute;n</em></strong></li>
    </ul>
    <p style="text-align: justify;">Es una propuesta metodol&oacute;gica que pretende encontrar o explorar en la
        existencia de un problema que el estudiante investigador se ha planteado. Se pueden utilizar cualquiera de los
        m&eacute;todos y tipos de investigaci&oacute;n existentes, que apliquen a una de las l&iacute;neas de
        investigaci&oacute;n propuestas por la instituci&oacute;n.</p>
    <ul style="text-align: justify;">
        <li><strong><em>Proyectos integradores</em></strong></li>
    </ul>
    <p style="text-align: justify;">Es un proyecto de intervenci&oacute;n, y se enfocar&aacute; en la atenci&oacute;n
        sobre el apoyo a dar soluci&oacute;n a un problema en una comunidad, con fines m&aacute;s directos e inmediatos.
        La intervenci&oacute;n consiste en generar planes, programas, proyectos y actividades para ser apoyo en la
        soluci&oacute;n de los problemas determinados por la comunidad de investigaci&oacute;n en contextos
        espec&iacute;ficos y factibles de realizar.</p>
    <ul style="text-align: justify;">
        <li><strong><em>Sistematizaci&oacute;n de experiencias pr&aacute;cticas de investigaci&oacute;n y/o
                    intervenci&oacute;n</em></strong></li>
    </ul>
    <p style="text-align: justify;">Es la planificaci&oacute;n ordenada y sistem&aacute;tica de todo el proceso que ha
        de llevarse a cabo en los servicios de ambulancia que se gestionen para operar como apoyo a profesionales de la
        salud prehospitalaria, a cambio de tutor&iacute;a de capacitaci&oacute;n, entre otros, con una entrega final de
        informe de actividades. El proyecto se denomina, Servicio de Emergencias Prehospitalarias Provincial SEPP.</p>
    <ol style="text-align: justify;">
        <li><strong><em>Normativas, reglamentos y resoluciones</em></strong></li>
    </ol>
    <p style="text-align: justify;"><strong>Normativas</strong>: conjunto de reglas que regulan el comportamiento de la
        sociedad dentro de un &aacute;mbito espec&iacute;fico. Las normativas pueden establecerse por el gobierno o por
        organizaciones privadas y tienen fuerza vinculante para aquellos a quienes se aplican.</p>
    <p style="text-align: justify;"><strong>Reglamentos:</strong>&nbsp;pautas que establecen procedimientos
        espec&iacute;ficos para la aplicaci&oacute;n de una ley, normativa o resoluci&oacute;n en particular. Los
        reglamentos son emitidos por una autoridad competente y tienen como finalidad aclarar o complementar lo que
        establece una normativa.</p>
    <p style="text-align: justify;"><strong>Resoluciones:</strong>&nbsp;decisiones que toma una organizaci&oacute;n,
        entidad o instituci&oacute;n con el objetivo de resolver un asunto en particular. Las resoluciones pueden
        emitirse por una autoridad competente.</p>
    <ol style="text-align: justify;">
        <li><strong>Protocolos, Instructivos, planes, gu&iacute;as y manuales</strong></li>
    </ol>
    <p style="text-align: justify;">Los protocolos, instructivos, planes, gu&iacute;as y manuales son documentos que
        sirven como herramientas de gesti&oacute;n para orientar y guiar a los miembros en la realizaci&oacute;n de
        diferentes actividades. Aunque son documentos diferentes, tienen algunas caracter&iacute;sticas comunes:</p>
    <p style="text-align: justify;"><strong>Protocolos:</strong>&nbsp;documentos que establecen reglas y procedimientos
        para ejecutar una actividad espec&iacute;fica. Los protocolos suelen ser utilizados en situaciones de emergencia
        o en actividades que implican un riesgo para la seguridad de las personas.</p>
    <p style="text-align: justify;"><strong>Instructivos:</strong>&nbsp;documentos que detallan los pasos dentro de un
        proceso o actividad. Los instructivos son utilizados para proporcionar informaci&oacute;n clara y detallada
        sobre c&oacute;mo realizar una tarea espec&iacute;fica.</p>
    <p style="text-align: justify;"><strong>Planes:</strong>&nbsp;documentos que establecen los objetivos, estrategias y
        acciones a seguir para alcanzar un determinado resultado a trav&eacute;s de la coordinaci&oacute;n de acciones
        de un equipo.</p>
    <p style="text-align: justify;"><strong>Gu&iacute;as:</strong>&nbsp;documentos que proporcionan informaci&oacute;n
        general y orientaci&oacute;n sobre un tema espec&iacute;fico.</p>
    <p style="text-align: justify;"><strong>Manuales:</strong>&nbsp;documentos que proporcionan informaci&oacute;n
        detallada y exhaustiva sobre un tema espec&iacute;fico y pueden contener informaci&oacute;n t&eacute;cnica o
        administrativa.</p>
    <ol style="text-align: justify;">
        <li><strong>Convenios institucionales e interinstitucionales nacionales e internacionales.</strong></li>
    </ol>
    <p style="text-align: justify;"><strong>Conceptos b&aacute;sicos:</strong></p>
    <p style="text-align: justify;"><strong>Repositorio Institucional:&nbsp;</strong>plataforma digital que se crea con
        el prop&oacute;sito de almacenar, preservar, organizar y difundir los resultados de la actividad
        acad&eacute;mica e investigadora de la comunidad universitaria en formato digital.</p>
    <p style="text-align: justify;"><strong>Identificador &Uacute;nico de Autor:&nbsp;</strong>es el c&oacute;digo
        alfanum&eacute;rico que identifica con car&aacute;cter inequ&iacute;voco al personal docente, estudiantil,
        administrativo e investigador de la instituci&oacute;n a efectos de la autor&iacute;a de los trabajos de
        investigaci&oacute;n.&nbsp; Colocar identificar de DSPCAPSE</p>
    <p style="text-align: justify;">El Repositorio admite distintos&nbsp;<strong>tipos de acceso&nbsp;</strong>o
        visibilidad de los contenidos, como son:</p>
    <ul style="text-align: justify;">
        <li><strong>Abierto</strong>: contenido visible por todo usuario de internet. Su uso puede estar sujeto a
            distintas limitaciones seg&uacute;n la licencia Creative Commons (ver abajo) con la que se</li>
        <li><strong>Cerrado</strong>: contenido visible s&oacute;lo para el personal espec&iacute;fico del ISTCRE</li>
        <li><strong>Embargado</strong>: contenido cerrado que pasa autom&aacute;ticamente a ser abierto una vez
            transcurrido un per&iacute;odo de tiempo determinado.</li>
    </ul>
    <p style="text-align: justify;"><strong>Metadatos</strong>: datos necesarios para el registro bibliogr&aacute;fico o
        de otro tipo de los documentos, y que no incluyen el contenido del documento asociado.</p>
    <p style="text-align: justify;"><strong>Pre-print</strong>: versi&oacute;n de un documento previa a la
        revisi&oacute;n por pares o a la evaluaci&oacute;n institucional.</p>
    <p style="text-align: justify;"><strong>Versi&oacute;n final o Post-print</strong>: documento revisado y aceptado
        para su publicaci&oacute;n antes de adaptarlo al formato final.</p>
    <p style="text-align: justify;"><strong>Propiedad Intelectual:</strong>&nbsp;instrumento jur&iacute;dico de
        protecci&oacute;n de los autores de creaciones intelectuales y/o de innovaciones tecnol&oacute;gicas, ideado
        para incentivar adecuadamente su actividad, conjug&aacute;ndola con los intereses generales de acceso a la
        cultura y desarrollo econ&oacute;mico.</p>
    <p style="text-align: justify;">Absorbe tanto la protecci&oacute;n de las creaciones intelectuales a trav&eacute;s
        de los&nbsp;<strong>Derechos de Autor</strong>, as&iacute; como, las innovaciones tecnol&oacute;gicas - mediante
        la&nbsp;<strong>Propiedad Industrial</strong>.</p>
    <p style="text-align: justify;">Son&nbsp;<strong>obras susceptibles de protecci&oacute;n&nbsp;</strong>por
        el&nbsp;<strong>Derecho de Autor</strong>&nbsp;las creaciones intelectuales novedosas, independientemente de su
        soporte y al margen de su registro.</p>
    <p style="text-align: justify;">&nbsp;Son susceptibles de&nbsp;<strong>Propiedad Industrial</strong>&nbsp;las
        innovaciones tecnol&oacute;gicas, que requieren ser registradas (como patente, modelo de utilidad o
        dise&ntilde;o industrial), para asegurar un derecho de explotaci&oacute;n exclusiva.</p>
    <p style="text-align: justify;"><strong>Autor:&nbsp;</strong>persona f&iacute;sica que, individualmente o con otros,
        crea la obra susceptible de protecci&oacute;n. Al autor le corresponde el&nbsp;<strong>derecho
            moral&nbsp;</strong>a que se le reconozca como tal (<strong>autor&iacute;a</strong>) y a decidir
        la&nbsp;<strong>divulgaci&oacute;n&nbsp;</strong>de la obra.</p>
    <p style="text-align: justify;">Los&nbsp;<strong>derechos patrimoniales de explotaci&oacute;n&nbsp;</strong>de las
        obras pueden corresponderle al autor o a quien directa o indirectamente financia su producci&oacute;n. Son
        susceptibles de cesi&oacute;n, gratuita u onerosa, exclusiva o compartida,
        mediante&nbsp;<strong>licencias</strong>.</p>
    <p style="text-align: justify;"><strong>Licencia Creative Commons (CC)</strong>: sistema de estandarizaci&oacute;n
        de derechos de autor creado y gestionado por la organizaci&oacute;n sin &aacute;nimo de lucro Creative Commons.
        El sistema est&aacute; compuesto por cuatro tipos de condiciones que pueden combinarse entre
        s&iacute;:&nbsp;<strong>Atribuci&oacute;n (BY)</strong>&nbsp;que requiere la referencia al autor
        original;&nbsp;<strong>Compartir como igual (SA)&nbsp;</strong>que permite obras derivadas bajo la misma
        licencia o similar;&nbsp;<strong>No Comercial (NC)&nbsp;</strong>que obliga a que la obra no sea utilizada con
        fines comerciales; y&nbsp;<strong>No Derivadas (ND)</strong>&nbsp;que no permite modificar de forma alguna la
        obra. Todas las licencias CC permiten el derecho fundamental de redistribuir la obra con fines no comerciales y
        sin modificaciones.</p>
    <p style="text-align: justify;"><strong>ACCESO BIBLIOGR&Aacute;FICO DPACE ISTCRE</strong></p>
    <p style="text-align: justify;">Los usuarios podr&aacute;n acceder a los recursos digitales de manera equitativa y
        justa, sin discriminaci&oacute;n de ninguna &iacute;ndole. Los recursos digitales est&aacute;n disponibles en
        l&iacute;nea para su visualizaci&oacute;n y descarga en formato PDF, y est&aacute;n sujetos a los
        t&eacute;rminos de uso y las condiciones establecidas por la instituci&oacute;n.</p>
    <p style="text-align: justify;">El acceso a los recursos de DSpace | ISTCRE ser&aacute; a trav&eacute;s del link:
        http://repositorio.istcre.edu.ec</p>
    <p style="text-align: justify;"><strong>Procedimientos de acceso:</strong></p>
    <ol style="text-align: justify;">
        <li>Los recursos de DSpace | ISTCRE son de libre acceso y estar&aacute;n disponibles en l&iacute;nea para
            cualquier usuario sin necesidad de autenticaci&oacute;n previa, y sin cargo alguno.</li>
        <li>El acceso a los recursos digitales estar&aacute; sujeto a los t&eacute;rminos de uso y las condiciones
            establecidas por el titular de los derechos de autor.</li>
        <li>Los usuarios deber&aacute;n cumplir con las pol&iacute;ticas y normativas de la instituci&oacute;n que aloja
            los recursos digitales.</li>
        <li>En caso de que el acceso a un recurso sea limitado o restringido, se proporcionar&aacute; informaci&oacute;n
            clara y detallada sobre las razones de dichas limitaciones. Para el fin, el o los usuarios deber&aacute;n
            realizar una solicitud formal para el acceso a los documentos exponiendo las razones correspondientes.</li>
    </ol>
    <p style="text-align: justify;"><strong>Criterios de acceso:</strong></p>
    <ol style="text-align: justify;">
        <li>Los usuarios deber&aacute;n utilizar los recursos de manera responsable y &eacute;tica, respetando los
            derechos de autor y citando adecuadamente las fuentes.</li>
        <li>Los usuarios no podr&aacute;n utilizar los recursos digitales con fines comerciales, sin previa
            autorizaci&oacute;n institucional y del titular de los derechos de autor.</li>
        <li>Los usuarios no podr&aacute;n realizar acciones que da&ntilde;en la integridad de los recursos digitales,
            incluyendo la descarga masiva de datos o la alteraci&oacute;n de los contenidos.</li>
        <li>Los metadatos pueden ser reutilizados por terceros en cualquier medio sin fines de lucro, sin previa
            autorizaci&oacute;n, mencionando el identificador del OAI (Iniciativa de Acceso Abierto) o haciendo enlace a
            los metadatos originales.</li>
    </ol>
    <ol style="text-align: justify;" start="5">
        <li>Todos los metadatos son accesibles al p&uacute;blico libre de cargos, conforme a las Pol&iacute;ticas del
            movimiento "Open Access".</li>
        <li>Los nombres y las direcciones de correo electr&oacute;nico introducidos en esta revista se usar&aacute;n
            exclusivamente para los fines establecidos en ella y no se proporcionar&aacute;n a terceros o para su uso
            con otros fines.</li>
        <li>Los lectores tienen el derecho de leer todos nuestros art&iacute;culos de forma gratuita, posteriormente, a
            su publicaci&oacute;n. Esta publicaci&oacute;n no efect&uacute;a cargo econ&oacute;mico alguno para la
            publicaci&oacute;n ni para el acceso a su material.</li>
    </ol>
    <p style="text-align: justify;"><strong>Requisitos para el acceso:</strong></p>
    <ul style="text-align: justify;">
        <li>Se puede acceder al Repositorio Digital del ISTCRE a trav&eacute;s de una computadora de escritorio, laptop,
            tablets y celulares con conexi&oacute;n a internet.</li>
        <li>Para el acceso a la plataforma, se recomienda el uso de los navegadores de internet<br />(Chrome y Mozilla),
            a trav&eacute;s de los cuales puede ingresar a la siguiente direcci&oacute;n:<br />URL:&nbsp;<a
                href="http://repositorio.istcre.edu.ec/">http://repositorio.istcre.edu.ec</a></li>
    </ul>
    <p style="text-align: justify;"><strong>Contactos:</strong></p>
    <p style="text-align: justify;"><strong>Biblioteca Sede El Inca</strong></p>
    <ul style="text-align: justify;">
        <li><strong>Ubicaci&oacute;n:</strong>&nbsp;Av. 6 de Diciembre y Av. El Inca N47 - 46, Quito.</li>
        <li><strong>Contacto:</strong>&nbsp;biblioteca2@cruzrojainstituto.edu.ec</li>
        <li><strong>Horario de atenci&oacute;n:</strong>&nbsp;Lunes a s&aacute;bado: 9:00 &ndash; 18:00</li>
    </ul>
    <p style="text-align: justify;"><strong>Biblioteca Campus Rumipamba</strong></p>
    <ul style="text-align: justify;">
        <li><strong>Ubicaci&oacute;n:</strong>&nbsp;Rumipamba Oe3-19 y Antonio de Ulloa, Quito.</li>
        <li><strong>Contacto:</strong>&nbsp;biblioteca@cruzrojainstituto.edu.ec</li>
        <li><strong>Horario de atenci&oacute;n:</strong>&nbsp;Lunes a viernes: 9:00 &ndash; 18:00</li>
    </ul>
    <p style="text-align: justify;"><strong>Biblioteca Campus EL Bat&aacute;n</strong></p>
    <ul>
        <li style="text-align: justify;"><strong>Ubicaci&oacute;n:</strong>&nbsp;Pasaje Chiriboga - Calle El
            Bat&aacute;n Quito.</li>
        <li style="text-align: justify;"><strong>Contacto:</strong>&nbsp;biblioteca.batan@cruzrojainstituto.edu.ec</li>
        <li style="text-align: justify;"><strong>Horario de atenci&oacute;n:</strong>&nbsp;Lunes a viernes: 10:00
            &ndash; 14:00</li>
    </ul>
</div>